<html>
  <%- include ("./partials/header.ejs") %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include ("./partials/sidebar.ejs") %>
        <div class="col-sm-10">
          <h3>Books list</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Genre</th>
          <th scope="col">Borrow Date</th>
          <th scope="col">Return Buttons</th>
        </tr>
      </thead>
      <tbody>
        <% books.forEach(function(copy,i){%>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><a href="/book/<%=copy.book.id%>/"><%= copy.book.title %></a></td>
          <td><%= copy.book.author %></td>
          <td><%= copy.book.genre %></td>
          <td><%= copy.borrow_date %></td>
          <td>
          <form action="/books/loaned" method="post">
            <input type="text" hidden value="<%= copy._id%>"name="bid">
            <button class="btn btn-primary" id="return-button" type="submit">
            Return <%= copy.book.title%>
            </button>
          </form>
            <!-- TODO: Create a Return book tag that is used for returning the book -->
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>
    </div>
  </div>
</div>
  </body>
</html>
